@import url("global.css");

body.bios {
    background-color: #000;
    color: #AAA;
    font-family: "BIOS", monospace;
    font-size: 16px;
}
.biosText {
    background-image: url("../img/energystar.gif");
    background-repeat: no-repeat;
    background-position: right 16;
    margin-top: -16px;
}
.bios b {
    color: #FFF;
}

#award {
    position:fixed;
    top: 0px;
}


/* scan disk */
#scandisk {
    background: #00a;
    width: 640px;
    height: 400px;
    position: fixed;
    left: calc(50vw - 320px);
    top: calc(50vh - 200px);
    padding: 32px;
}


#scandisk > .alignbottom {
    bottom: calc(50vh - 232px);
    position: fixed;
}