@import url("font/bios.css");

body {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.alignBottom {
    position: fixed;
    bottom: 0px;
}